@font-face {
  font-family: Virgil;
  src: url(../font/Virgil.woff2) format("woff2");
}
@font-face {
  font-family: Mojangles;
  src: url(../font/Mojangles.ttf);
}
@font-face {
  font-family: MojanglesTen;
  src: url(../font/MojanglesTen.ttf);
}
