@import url(fonts.css);
@import url(colors.css);
@import url(min.css);
@import url(profile.css);
@import url(grid.css);
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Virgil;
}
::selection {
  background: var(--color-ui);
}

body {
  display: grid;
  background: var(--color-bg);
  grid-template-rows: 35px 1fr;
  justify-items: center;
  min-height: 100vh;
  gap: 10px;
}
main {
  width: 100%;
  max-width: 600px;
  min-width: 300px;
  height: 100%;
  overflow: auto;
  z-index: 1;
}
header {
  display: grid;
  justify-items: right !important;
  width: 100%;
  padding: 0 10px;
  --size: 35px;
  z-index: 1;
}
header a {
  width: var(--size);
  height: var(--size);
  border-radius: 30px;
}
header a > svg {
  width: var(--size);
  height: var(--size);
  fill: var(--color-ui);
}
.line.title {
  color: var(--color-fg);
  border-bottom: 2px solid;
  margin: 10px;
}
div.star {
  background-color: lightblue;
  height: 4px;
  width: 4px;
  position: absolute;
  z-index: 0;
  opacity: 0.6;
  animation: infinite;
  animation-name: flicker;
  animation-timing-function: ease-in-out;
  box-shadow: 0 0 10px lightblue;
}
div.stars.main {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
  opacity: 0.5;
}
@keyframes flicker {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
