img.cover {
  object-fit: cover;
}
.hover-underline-left,
.hover-underline-right {
  display: inline-block;
  position: relative;
}
.hover-underline-left::after,
.hover-underline-right::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color);

  transition: transform 0.25s ease-out;
}
.hover-underline-left:hover::after,
.hover-underline-right:hover::after {
  transform: scaleX(1);
}

.hover-underline-left::after {
  transform-origin: bottom right;
}
.hover-underline-left:hover::after {
  transform-origin: bottom left;
}

.hover-underline-right::after {
  transform-origin: bottom left;
}
.hover-underline-right:hover::after {
  transform-origin: bottom right;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  text-align: center;
}
