<main>
  <slot />
</main>

<style>
  main {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    height: calc(100vh - 45px);
    margin: 0 auto;
    overflow: auto;
    z-index: 1;
    padding: 10px 0;
    background: var(--bg-opacity);
  }
</style>
