---
import { Icon } from 'astro-icon/components'
---

<div>
  <Icon name={'javascript'} size={80} class="icon" />
  <Icon name={'typescript'} size={80} class="icon" />
</div>

<style>
  div {
    display: grid;
    grid-template-columns: repeat(auto-fit, 80px);
    gap: 10px;
    padding: 10px;
    place-content: center;
  }

  .icon {
    cursor: pointer;
    border: 2px solid var(--bg0_h);
    box-shadow: -6px 6px var(--bg0_h);
    transition:
      box-shadow 0.1s ease-in-out,
      transform 0.2s ease-in-out;
  }
  .icon:hover {
    transform: translateY(6px) translateX(-6px);
    box-shadow: 0 0 var(--bg0_h);
  }
</style>
