<main id="background"></main>

<style>
  main {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    z-index: 0;
    opacity: 0.5;
  }
</style>

<script src="../../lib/background.ts"></script>
