---
const { sectionWidth, sectionHeight } = Astro.props
---

<section>
  <slot />
</section>

<style define:vars={{ sectionWidth, sectionHeight }}>
  section {
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--sectionWidth));
    grid-template-rows: repeat(auto-fill, var(--sectionHeight));
    gap: 10px;
    justify-content: center;
    padding: 0 10px;
  }
</style>
